// font-family
$font-family: 'Georgia', 'times', serif;

// colors
$color-primary: #333333;
$color-primary-hover: #222222;

$color-secondary: #838c91;
$color-secondary-hover: #676d70;

// font-sizes
$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 14px;
$font-size-p: 14px;
